.holiday {
  margin-top: -144px;
}

.content-block {
  display: flex;
}
.content-block__img {
  flex: 0 0 40%;
  position: relative;
}
.content-block__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content-block__body {
  flex: 0 0 60%;
  padding: 82px 0 82px 232px;
  position: relative;
  z-index: 3;
}
.content-block__body *:not(:last-child) {
  margin-bottom: 27px;
}
.content-block__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 178%;
}
.content-block__button {
  font-weight: 700;
  font-size: 18px;
  line-height: 139%;
  color: #fbd784;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}
.content-block__button::before {
  margin-left: 9px;
}
.content-block__button:hover {
  color: #fff;
}

.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 136%;
  max-width: 555px;
}