.swiper-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.swiper-slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper-slide__sub-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 139%;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fbd784;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.swiper-slide__sub-title::before, .swiper-slide__sub-title::after {
  content: "";
  width: 72px;
  height: 2px;
  background-color: #fbd784;
}
.swiper-slide__sub-title span {
  margin: 0 29px;
}
.swiper-slide__body {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 5;
  align-items: center;
  max-width: 1163px;
}
.swiper-slide__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 136%;
  text-align: center;
  margin-bottom: 27px;
  max-width: 705px;
}
.swiper-slide__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 178%;
  text-align: center;
  margin-bottom: 39px;
}
.swiper-slide__button {
  font-size: 18px;
  margin-bottom: 41px;
}

.swiper-left,
.swiper-right {
  position: absolute;
  z-index: 10;
  top: 50%;
  font-size: 21px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: color 0.3s ease;
}
.swiper-left:hover,
.swiper-right:hover {
  color: #fbd784;
}

.swiper-left {
  left: 40px;
}

.swiper-right {
  right: 40px;
}